.jumbotron {
    background-color: black;
    

}
.display-4{
    color: white;
    text-align: center;
    font-weight: bold;
}

/* search*/
.topnav input[type=text] {
    
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 28%;
  }
* {box-sizing: border-box}


.card{
    width: 12rem;
    margin-right: 10px;
    float: right;
    background-color: lightgray;
}

.jumbotron{
    height: 150px;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    background-image: url("weather.png");
}
